{% extends "layouts/layout.html.twig" %}

{% block content %}
    <h2>Included</h2>
    <ul>
        <li><a href="https://twig.symfony.com" target="_blank">Twig</a></li>
        <li><a href="https://www.doctrine-project.org" target="_blank">Doctrine</a></li>
        <li><a href="https://github.com/InsanityMeetsHH/Slim-Skeleton#how-to-create-further-localisations" target="_blank">Localisation</a></li>
        <li><a href="https://github.com/geggleto/geggleto-acl" target="_blank">ACL</a></li>
        <li><a href="https://github.com/slimphp/Slim-Csrf" target="_blank">CSRF</a></li>
        <li><a href="https://github.com/slimphp/Slim-Flash" target="_blank">Flash Message</a></li>
        <li><a href="https://seldaek.github.io/monolog/" target="_blank">Monolog</a></li>
        <li><a href="https://github.com/PHPGangsta/GoogleAuthenticator" target="_blank">Google Authenticator</a></li>
    </ul>

    {# loop through database records #}
    {% if users and is_allowed('show_user_other') %}
        <p>&nbsp;</p>
        <p>{{ 'db-records'|trans }}</p>
        {% for user in users %}
            {{ user.id }} <a href="{{ path_for('user-show' ~ lk, { 'name': user.name }) }}">{{ user.name }}</a> {{ user.role.name|trans }} {{ user.createdAt|date('datetime'|trans) }}<br/>
        {% endfor %}
    {% endif %}
{% endblock %}