{% set langswitch = langswitch() %}
{% if langswitch %}
    <div class="langswitch">
    {% for lang in langswitch %}
        <a data-locale="{{ lang.locale }}" lang="{{ lang.locale|slice(0, 2) }}" class="{% if is_current_locale_path(lang.locale, lang.route, lang.args) %}current{% endif %}" href="{{ lang.domain }}{{ path_for(lang.route, lang.args) }}">{{ lang.label }}{# lang.image|raw #}</a> {% if loop.last %}{% else %}&#124;{% endif %}
    {% endfor %}
    </div>
{% endif %}
