{# lc = locale code #}
{% set lc = locale() %}
{# glc = generic locale code #}
{% set glc = generic_locale() %}
{% htmlcompress %}
<!DOCTYPE html>
<html lang="{{ current_locale()|slice(0, 2) }}" class="locale-process-{{ localeProcess }}">
    <head>
        <meta charset="utf-8"/>
        <title>Slim Skeleton - InsanityMeetsHH</title>
        <link href="{{ base_url() }}/css/styles.css?v=5.4.1" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <h1>Slim Skeleton - InsanityMeetsHH</h1>
            {{ include('partials/langswitch.html.twig') }}
            {{ include('partials/navigation.html.twig') }}
            {{ include('partials/flash-message.html.twig') }}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
             <a href="https://github.com/InsanityMeetsHH/Slim-Skeleton" target="_blank">GitHub</a>
             <a href="https://packagist.org/packages/insanitymeetshh/slim-skeleton" target="_blank">Packagist</a>
        </footer>
        <script src="{{ base_url() }}/js/scripts.js?v=5.4.1"></script>
    {% if settings.recaptcha.site and settings.recaptcha.site|length > 20 %}
        <script src="https://www.google.com/recaptcha/api.js?hl={{ current_locale()|slice(0, 2) }}"></script>
    {% endif %}
    </body>
</html>
{% endhtmlcompress %}

