{# lk = locale key #}
{% set lk = language() %}
{# lk = generic locale key #}
{% set glk = genericLanguage() %}
{# ns = naviagtion suffix #}
{% set ns = '-label' %}
<!DOCTYPE html>
<html lang="{{ lk|slice(1, 2) }}">
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3 Skeleton Fork - InsanityMeetsHH</title>
        <link href="//fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css">
        <link href="{{ base_url() }}/css/styles.css?v=4.3.0" rel="stylesheet" type="text/css">
        
    </head>
    <body>
        <h2 class="text-center my-5">
            Slim 3 Skeleton Fork - InsanityMeetsHH
            <a href="https://github.com/InsanityMeetsHH/Slim-Skeleton" target="_blank">GitHub</a>
            <a href="https://packagist.org/packages/insanitymeetshh/slim-skeleton">Packagist</a>
        </h2>
        {{ include('partials/langswitch.html.twig') }}
        {{ include('partials/navigation.html.twig') }}
        {{ include('partials/flash-message.html.twig') }}
        
        {% block content %}{% endblock %}
    </body>
</html>

