{# lc = locale code #}
{% set lc = locale() %}
{# glc = generic locale code #}
{% set glc = generic_locale() %}
<!DOCTYPE html>
<html lang="{{ current_locale() }}" class="locale-process-{{ localeProcess }}">
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3 Skeleton Fork - InsanityMeetsHH</title>
        <link href="//fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet" type="text/css">
        <link href="{{ base_url() }}/css/styles.css?v=5.0.0" rel="stylesheet" type="text/css">
        <script src="https://www.google.com/recaptcha/api.js?hl={{ current_locale() }}"></script>
    </head>
    <body>
        <h2 class="text-center my-5">
            Slim 3 Skeleton Fork - InsanityMeetsHH
            <a href="https://github.com/InsanityMeetsHH/Slim-Skeleton" target="_blank">GitHub</a>
            <a href="https://packagist.org/packages/insanitymeetshh/slim-skeleton">Packagist</a>
        </h2>
        {{ include('partials/langswitch.html.twig') }}
        {{ include('partials/navigation.html.twig') }}
        {{ include('partials/flash-message.html.twig') }}
        
        {% block content %}{% endblock %}
        <script src="{{ base_url() }}/js/scripts.js?v=5.0.0"></script>
    </body>
</html>

