{# lk = locale key #}
{% set lk = locale() %}
{# lk = generic locale key #}
{% set glk = generic_locale() %}
{# ns = naviagtion suffix #}
{% set ns = '-label' %}
<!DOCTYPE html>
<html lang="{{ current_locale() }}" class="locale-process-{{ settings.locale.process }}">
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3 Skeleton Fork - InsanityMeetsHH</title>
        <link href="//fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css">
        <link href="{{ base_url() }}/css/styles.css?v=4.3.0" rel="stylesheet" type="text/css">
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>
        <h2 class="text-center my-5">
            Slim 3 Skeleton Fork - InsanityMeetsHH
            <a href="https://github.com/InsanityMeetsHH/Slim-Skeleton" target="_blank">GitHub</a>
            <a href="https://packagist.org/packages/insanitymeetshh/slim-skeleton">Packagist</a>
        </h2>
        {{ include('partials/langswitch.html.twig') }}
        {{ include('partials/navigation.html.twig') }}
        {{ include('partials/flash-message.html.twig') }}
        
        {% block content %}{% endblock %}
        <script>
            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = "expires="+d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }
            
            if (document.querySelector('html').classList.contains('locale-process-session')) {
                for(var i = 0; i < document.querySelectorAll('.langswitch a').length; i++) {
                    document.querySelectorAll('.langswitch a')[i].onclick = function(event){
                        event.preventDefault();
                        setCookie('current_locale', this.getAttribute('data-locale'), 365);
                        window.location.reload();
                    };
                }
            }
        </script>
    </body>
</html>

