{% extends "layouts/layout.html.twig" %}

{% block content %}
    {% if passValid %}
        <h2>{{ 'enable-2fa'|trans }}</h2>
        {{ 'enable-2fa-step1'|trans|raw }}<br/>
        <br/>
        {{ 'enable-2fa-step2'|trans|raw }}<br/>
        <br/>
            <b>{{ '2fa-secret'|trans }}: <u>{{ secret }}</u></b><br/>
            <br/>
        <img src="{{ qr }}" alt=""/><br/>
        <br/>
        {{ 'enable-2fa-step3'|trans|raw }}<br/>
        <br/>
        {{ 'auth-code'|trans }}
        <form action="{{ path_for('user-enable-two-factor-' ~ lc) }}" method="post" autocomplete="off">
            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
            <input type="hidden" name="pass_code" value="{{ passCode }}">
            <input type="text" name="tf_code" placeholder="{{ 'code'|trans }}" autofocus="autofocus" />
            <input type="submit" name="send" value="{{ 'submit'|trans }}" />
        </form>
    {% else %}
        <br/>
        {{ 'password'|trans }}
        <form action="{{ path_for('user-enable-two-factor-' ~ lc) }}" method="post">
            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
            <input type="password" name="user_pass" autofocus="autofocus" />
            <input type="submit" name="send" value="{{ 'submit'|trans }}" />
        </form>
    {% endif %}
{% endblock %}