{% extends "layouts/layout.html.twig" %}

{% block content %}
    <br><br>
    user / password
    <form action="{{ path_for('user-login-validate' ~ lk) }}" method="post">
        <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
        <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
        <input type="text" name="user_name" placeholder="User name" />
        <input type="password" name="user_pass" />
        <input type="submit" name="send" value="Log In" />
    </form>
{% endblock %}